<!-- home route -> views/app-home.html.html-->
<include href="views/header.html"></include>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <h2>About The Internship</h2>
                <p>We are searching for a motivated student software developer for an IOS and Android development internship.</p>
                <h2>More About Us</h2>
                <p>
                    The products we build have a positive on people's lives and the world around us. If you are just starting your journey in software development, or if you are a seasoned pro, we have a place for you here. Our apps are used all around the world, so you will have an opportunity here to learn and grow in an environment where millions of people every day interact with our technology
                    <br>
                    <br>
                    Our top paid CEOs don't rake in the cash at your expense, and our shareholders only get a divided. This enables us to pay our employees with the best wages and benefits imaginable. We don't offer merely "competitive" wages, we pay each employee the largest cut of the product of their labor. Also, unlike our competitors, we don't manipulate our users or sell their data to stay in business. Truly a cutting edge company, you will love working here!
                </p>
                <h2>Meet Our Team</h2>
                <p>
                    <i>
                        "Come work for a company where all of our eams enjoy the autonomy to do their own decision making."
                    </i> -Sara, CEO
                    <br>
                    <i>
                        "This company is unique, we all own the efforts of our labor, upper management exist only to facilitate our success."
                    </i> -Marshall, President
                    <br>
                    <i>
                        "Everyone makes a difference here, we are constantly improving and evolving."
                    </i> -Helin, Senior Developer
                </p>
            </div>
            <div class="col-lg-6 col-sm-12">
                <img src="images/officeDev.jpeg" alt="office image">
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="row">
            <div class="col-lg-6 col-12">
                <a class="button" type="button" id="footerButton" href="personalInfo">Apply Here</a>
            </div>
            <div class="col-6"></div>
        </div>
    </div>