<!-- experience route -> views/experience page.html-->
<include href="views/header.html"></include>
<body class="experiencePage">
<div class="header">
    <div class="row">
        <div class="col-lg-6 col-12">
            <p>AppCompany LLC</p>
            <h4>Software Development Internship</h4>
            <p>Seattle, WA, Paid, 12 weeks</p>
        </div>
    </div>

    <div class="container">
        <div>
            <h2>Experience</h2>
        </div>

<!--        form and info.html -->
        <form action="#" method="post" class="form-horizontal">
            <div class="row">
                <div class="col-6">
<!--                    bio -->
                    <label for="bio">Biography</label>
                    <textarea name="bio" id="bio">Write here</textarea>
                </div>
                <div class="col-6">
<!--                    github -->
                    <div>
                        <label for="github">Github Link</label>
                        <input class="form-control" type="text" name="github" id="github">
                        <check if="{{ isset(@errors['github'])}}">
                            <span class="err">{{ @errors['github'] }}</span>
                        </check><br>
                    </div>
<!--                    experience -->
                    <div>
                        <label for="expYears">Years Experience&nbsp;</label>
                        <div>
                            <label><input type="radio"  name="expYears" value="0-2" id="expYears">0-2</label>
                            <label><input type="radio"  name="expYears" value="2-4">2-4</label>
                            <label><input type="radio"  name="expYears" value="4+">4+</label>
                        </div>
                        <check if="{{ isset(@errors['expYears'])}}">
                            <span class="err">{{ @errors['expYears'] }}</span>
                        </check><br>
                    </div>
<!--                    locate -->
                    <div>
                        <div>
                            <br><label for="locate">Willing to Relocate&nbsp;</label>
                            <label><input type="radio" name="locate" value="Yes" id="locate"> Yes&nbsp;</label>
                            <label><input type="radio" name="locate" value="No"> No&nbsp;</label>
                            <label><input type="radio" name="locate" value="Maybe"> Maybe</label>
                        </div>
                    </div>
<!--                    button-->
                    <div>
                    <button class="btn btn-primary" type="submit" href="experience">Next <b>></b></button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>
</body>
</html>