<!-- mailing route -> views/mailing-list.html-->

<include href="views/header.html"> </include>
<body class="mailingPage">
    <div class="row">
        <div class="col-lg-6 col-12">
            <p>AppCompany LLC</p>
            <h4>Software Development Internship</h4>
            <p>Seattle, WA, Paid, 12 weeks</p>
        </div>
    </div>

    <div class="container">
        <h2>Job Openings Mailing Lists</h2>

        <form action="#" method="post" class="form-horizontal">
            <b>Software Development Jobs</b>
            <ul>
                <repeat group="{{ @languages }}" value="{{ @language }}">
                <li>
                    <label>
                        <input type="checkbox" name="language[]" value="{{ @language }}"> {{ ucfirst(@language) }}
                    </label>
                </li>
                </repeat>
            </ul>
            <check if="{{ isset(@errors['language'])}}">
                <span class="err">{{ @errors['language'] }}</span>
            </check><br>


            <b>Industry Verticals</b>
            <ul>
                <repeat group="{{ @verticals }}" value="{{ @vertical }}">
                <li>
                    <label>
                        <input type="checkbox" name="vertical[]" value="{{ @vertical }}"> {{ ucfirst(@vertical) }}
                    </label>
                </li>
                </repeat>
<!--                <li>-->
<!--                    <label>-->
<!--                        <input type="checkbox" name="language[]" value="Industrial tech"> Industrial tech-->
<!--                    </label>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <label>-->
<!--                        <input type="checkbox" name="language[]" value="Health tech"> Health tech-->
<!--                    </label>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <label>-->
<!--                        <input type="checkbox" name="language[]" value="Cybersecurity"> Cybersecurity-->
<!--                    </label>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <label>-->
<!--                        <input type="checkbox" name="language[]" value="Ag tech"> Ag tech-->
<!--                    </label>-->
<!--                </li><br>-->
<!--                <li>-->
<!--                    <label>-->
<!--                        <input type="checkbox" name="language[]" value="HR tech"> HR tech-->
<!--                    </label>-->
<!--                </li>-->
            </ul>
<!--            <check if="{{ isset(@errors['vertical'])}}">-->
<!--                <span class="">{{ @errors['vertical'] }}</span>-->
<!--            </check>-->

<!-- button submit -->
            <div>
                <button class="btn btn-primary" type="submit" href="mailings">Next <b>></b></button>
            </div>
        </form>
    </div>
</body>
</html>