<!-- mailing route -> views/mailing-list.html-->

<include href="views/header.html"> </include>
<body class="mailingPage">
    <div class="row">
        <div class="col-lg-6 col-12">
            <p>AppCompany LLC</p>
            <h4>Software Development Internship</h4>
            <p>Seattle, WA, Paid, 12 weeks</p>
        </div>
    </div>

    <div class="container">
        <h2>Job Openings Mailing Lists</h2>

        <form action="#" method="post" class="form-horizontal">
            <b>Software Development Jobs</b>
            <ul>
                <li>
                    <label>
                        <input type="checkbox" name="language[]" value="JavasScript"> JavasScript
                    </label>
                </li>
                <li>
                    <label>
                        <input type="checkbox" name="language[]" value="HTML"> HTML
                    </label>
                </li>
                <li>
                    <label>
                        <input type="checkbox" name="language[]" value="PHP"> PHP
                    </label>
                </li>
                <li>
                    <label>
                        <input type="checkbox" name="language[]" value="CSS"> CSS
                    </label>
                </li>
                <li>
                    <label>
                        <input type="checkbox" name="language[]" value="Java"> Java
                    </label>
                </li>
                <li>
                    <label>
                        <input type="checkbox" name="language[]" value="ReactUS"> ReactUS
                    </label>
                </li>
                <li>
                    <label>
                        <input type="checkbox" name="language[]" value="Python"> Python
                    </label>
                </li>
                <li>
                    <label>
                        <input type="checkbox" name="language[]" value="NodeJs"> NodeJs
                    </label>
                </li>
            </ul>


            <b>Industry Verticals</b>
            <ul>
                <li>
                    <label>
                        <input type="checkbox" name="language[]" value="SaaS"> SaaS
                    </label>
                </li>
                <li>
                    <label>
                        <input type="checkbox" name="language[]" value="Industrial tech"> Industrial tech
                    </label>
                </li>
                <li>
                    <label>
                        <input type="checkbox" name="language[]" value="Health tech"> Health tech
                    </label>
                </li>
                <li>
                    <label>
                        <input type="checkbox" name="language[]" value="Cybersecurity"> Cybersecurity
                    </label>
                </li>
                <li>
                    <label>
                        <input type="checkbox" name="language[]" value="Ag tech"> Ag tech
                    </label>
                </li><br>
                <li>
                    <label>
                        <input type="checkbox" name="language[]" value="HR tech"> HR tech
                    </label>
                </li>
            </ul>

<!-- button submit -->
            <div>
                <button class="btn btn-primary" type="submit" href="mailings">Next <b>></b></button>
            </div>
        </form>
    </div>
</body>
</html>