<!-- mailing route -> views/mailing-list.html-->
<include href="views/header2.html"></include>
    <div class="container mailingPage">
        <h2>Job Openings Mailing Lists</h2>

        <form action="#" method="post" class="form-horizontal">
<!--        job selections-->
            <div>
                <b>Software Development Jobs</b>
                <ul>
                    <repeat group="{{ @languages }}" value="{{ @language }}">
                        <li>
                            <label>
                                <input type="checkbox" name="language[]" value="{{ @language }}"> {{ ucfirst(@language) }}
                            </label>
                        </li>
                    </repeat>
                </ul>
                <!--check validation-->
                <check if="{{ isset(@errors['language'])}}">
                    <span class="err">{{ @errors['language'] }}</span>
                </check><br>
            </div>

<!--        vertical selections-->
            <div>
                <b>Industry Verticals</b>
                <ul>
                    <repeat group="{{ @verticals }}" value="{{ @vertical }}">
                        <li>
                            <label>
                                <input type="checkbox" name="vertical[]" value="{{ @vertical }}"> {{ ucfirst(@vertical) }}
                            </label>
                        </li>
                    </repeat>
                </ul>
                <!--check validation-->
                <check if="{{ isset(@errors['vertical'])}}">
                    <span class="">{{ @errors['vertical'] }}</span>
                </check>
            </div>

<!-- button submit -->
            <div>
                <button class="btn btn-primary" type="submit" name="submit" href="mailings">Next <b>></b></button>
            </div>
        </form>
    </div>