<!-- personalInfo route -> views/personal-info.html.html-->

<include href="views/header.html"></include>
<body>
    <form action="#" method="post" class="form-horizontal">

        <div class="grid-container" id="sum-container">
<!--            Header -->
            <div class="grid-item item1">
                <h2>Personal Information</h2>
            </div>

<!--            first row-->
            <div class="grid-item item2">
                <label for="firstName"><b>First Name</b></label><br>
                <input class="form-control" type="text" name="firstName" id="firstName">
<!--                check validation-->
                <check if="{{ isset(@errors['firstName'])}}">
                    <span class="">{{ @errors['firstName'] }}</span>
                </check><br>
            </div>

            <div class="grid-item item3">
                <label for="lastName"><b>Last Name</b></label><br>
                <input class="form-control" type="text" name="lastName" id="lastName">
<!--                    check validation-->
                <check if="{{ isset(@errors['lastName'])}}">
                    <span class="">{{ @errors['lastName'] }}</span>
                </check><br>
            </div>

            <div class="grid-item item4">
                <label for="email"><b>Email</b></label><br>
                <input class="form-control" type="text" name="email" id="email">
<!--                check validation-->
                <check if="{{ isset(@errors['email'])}}">
                    <span class="err">{{ @errors['email'] }}</span>
                </check><br>
            </div>

            <div class="grid-item item5">
                <p><b>Note</b>: All information entered is protected by our <b>privacy policy</b>. Profile information can only be viewed by others with you permission.</p>
            </div>

            <div class="grid-item item6">
                <label for="state"><b>State</b></label><br>
                <select name="state" id="state">
                    <option value="Washington">Washington</option>
                </select>
            </div>

            <div class="grid-item item7">
                <label for="tel"><b>Phone</b></label><br>
                <input type="tele" id="tel" name="tel" placeholder="222-333-4444">
<!--                check validation-->
                <check if="{{ isset(@errors['tel'])}}">
                    <span class="err">{{ @errors['tel'] }}</span>
                </check><br>
            </div>

            <div>
                <br><label for="checkedMailings"><b>Mailing Lists</b></label><br>
                <label><input type="checkbox" name="checkedMailings" value="checkedMailings" id="checkedMailings"> Sign me up for job openings mailing lists!&nbsp;</label>
            </div>
<!--        next button-->
            <div class="grid-item item8">
                <button class="btn btn-primary" type="submit" href="experience">Next></button>
            </div>

<!--            <div class="grid-item item9">-->
<!--                <label><b>Mailing Lists</b></label><br>-->
<!--                <input type="checkbox" name="mailingCheck" value=""> Sign me up for job openings mailing lists!-->
<!--            </div>-->
        </div>
    </form>


    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>